<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/15.6.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0-alpha1/JSXTransformer.js"></script>
</head>

<body>
    <div id="content"></div>
    <script type="text/jsx">
        class FormComponent extends React.Component {
            render(){
                return (<div> Comment : 
                    <input type="text" /> 
                    <input type="submit" />
                </div>);
            }
        }

        class CommentComponent extends React.Component {
            render(){
                return (<ul>
                        <li>Learning React</li>
                        <li>JSX is fun</li>
                        <li>Working with components</li>
                    </ul>);
            }
        }

        class BlogComponent extends React.Component {
            render(){
                return (<div>
                        <h1>Blog</h1>
                        <FormComponent />
                        <CommentComponent />
                    </div>);
                }
        }
        ReactDOM.render( <BlogComponent />, document.getElementById('content'));
    </script>
</body>

</html>